<!--The content below is only a placeholder and can be replaced.-->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<ul>
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active" > {{lugar.nombre}} </li>
  </ng-container>
</ul>

<ul>
    <h3>Mayores de edad:</h3>
    <ng-container *ngFor='let persona of personas'>
      <li style="list-style-type:none" *ngIf='persona.edad > 17'>{{persona.nombre}}</li>
    </ng-container>
    <hr/>
    <h3>Menores de edad:</h3>
    <ng-container *ngFor='let persona of personas'>
      <li style="list-style-type:none" *ngIf='persona.edad < 18'>{{persona.nombre}}</li>
    </ng-container>
</ul>
